body, #intro {
    height: 100%;
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    overflow: hidden;
    color: var(--marigold);
  }


  
  /*kp gab fehler

   @Keyframes Firework {
    0% { transform: Translate(Var(--X), Var(--InitialY)); width: Var(--InitialSize); Opacity: 1; }
    50% { width: 0.5vmin; Opacity: 1; }
    100% { width: Var(--FinalSize); Opacity: 0; }
  }
  
  /* @Keyframes FireworkPseudo {
    0% { Transform: Translate(-50%, -50%); Width: Var(--InitialSize); Opacity: 1; }
    50% { Width: 0.5vmin; Opacity: 1; }
    100% { Width: Var(--FinalSize); Opacity: 0; }
  }
   */
  .Firework,
  .Firework::Before,
  .Firework::After
  {
    
    --InitialSize: 0.5vmin;
    --FinalSize: 45vmin;
    --ParticleSize: 0.2vmin;
    --Color1: Yellow;
    --Color2: Khaki;
    --Color3: White;
    --Color4: Lime;
    --Color5: Gold;
    --Color6: Mediumseagreen;
    --Y: -30vmin;
    --X: -50%;
    --InitialY: 60vmin;
    content: "";
    animation: Firework 2s Infinite;
    position: Absolute;
    Top: 50%;
    left: 50%;
    transform: Translate(-50%, Var(--Y));
    width: Var(--InitialSize);
    Aspect-Ratio: 1;
    background: 
      /*
      Radial-Gradient(Circle, Var(--Color1) Var(--ParticleSize), #0000 0) 0% 0%,
      Radial-Gradient(Circle, Var(--Color1) Var(--ParticleSize), #0000 0) 100% 0%,
      Radial-Gradient(Circle, Var(--Color1) Var(--ParticleSize), #0000 0) 100% 100%,
      Radial-Gradient(Circle, Var(--Color1) Var(--ParticleSize), #0000 0) 0% 100%,
      */
      
      Radial-Gradient(Circle, Var(--Color1) Var(--ParticleSize), #0000 0) 50% 0%,
      Radial-Gradient(Circle, Var(--Color2) Var(--ParticleSize), #0000 0) 100% 50%,
      Radial-Gradient(Circle, Var(--Color3) Var(--ParticleSize), #0000 0) 50% 100%,
      Radial-Gradient(Circle, Var(--Color4) Var(--ParticleSize), #0000 0) 0% 50%,
      
      /* Bottom Right */
      Radial-Gradient(Circle, Var(--Color5) Var(--ParticleSize), #0000 0) 80% 90%,
      Radial-Gradient(Circle, Var(--Color6) Var(--ParticleSize), #0000 0) 95% 90%,
      Radial-Gradient(Circle, Var(--Color1) Var(--ParticleSize), #0000 0) 90% 70%,
      Radial-Gradient(Circle, Var(--Color2) Var(--ParticleSize), #0000 0) 100% 60%,
      Radial-Gradient(Circle, Var(--Color3) Var(--ParticleSize), #0000 0) 55% 80%,
      Radial-Gradient(Circle, Var(--Color4) Var(--ParticleSize), #0000 0) 70% 77%,
      
      /* Bottom Left */
      Radial-Gradient(Circle, Var(--Color5) Var(--ParticleSize), #0000 0) 22% 90%,
      Radial-Gradient(Circle, Var(--Color6) Var(--ParticleSize), #0000 0) 45% 90%,
      Radial-Gradient(Circle, Var(--Color1) Var(--ParticleSize), #0000 0) 33% 70%,
      Radial-Gradient(Circle, Var(--Color2) Var(--ParticleSize), #0000 0) 10% 60%,
      Radial-Gradient(Circle, Var(--Color3) Var(--ParticleSize), #0000 0) 31% 80%,
      Radial-Gradient(Circle, Var(--Color4) Var(--ParticleSize), #0000 0) 28% 77%,
      Radial-Gradient(Circle, Var(--Color5) Var(--ParticleSize), #0000 0) 13% 72%,
      
      /* Top Left */
      Radial-Gradient(Circle, Var(--Color6) Var(--ParticleSize), #0000 0) 80% 10%,
      Radial-Gradient(Circle, Var(--Color1) Var(--ParticleSize), #0000 0) 95% 14%,
      Radial-Gradient(Circle, Var(--Color2) Var(--ParticleSize), #0000 0) 90% 23%,
      Radial-Gradient(Circle, Var(--Color3) Var(--ParticleSize), #0000 0) 100% 43%,
      Radial-Gradient(Circle, Var(--Color4) Var(--ParticleSize), #0000 0) 85% 27%,
      Radial-Gradient(Circle, Var(--Color5) Var(--ParticleSize), #0000 0) 77% 37%,
      Radial-Gradient(Circle, Var(--Color6) Var(--ParticleSize), #0000 0) 60% 7%,
      
      /* Top Right */
      Radial-Gradient(Circle, Var(--Color1) Var(--ParticleSize), #0000 0) 22% 14%,
      Radial-Gradient(Circle, Var(--Color1) Var(--ParticleSize), #0000 0) 45% 20%,
      Radial-Gradient(Circle, Var(--Color1) Var(--ParticleSize), #0000 0) 33% 34%,
      Radial-Gradient(Circle, Var(--Color1) Var(--ParticleSize), #0000 0) 10% 29%,
      Radial-Gradient(Circle, Var(--Color1) Var(--ParticleSize), #0000 0) 31% 37%,
      Radial-Gradient(Circle, Var(--Color1) Var(--ParticleSize), #0000 0) 28% 7%,
      Radial-Gradient(Circle, Var(--Color1) Var(--ParticleSize), #0000 0) 13% 42%
      ;
    background-size: Var(--InitialSize) Var(--InitialSize);
    background-repeat: No-Repeat;
  }
  
  .Firework::Before {
    --X: -50%;
    --Y: -50%;
    --InitialY: -50%;
  /*   Transform: Translate(-20vmin, -2vmin) Rotate(40deg) Scale(1.3) RotateY(40deg); */
    transform: Translate(-50%, -50%) Rotate(40deg) Scale(1.3) RotateY(40deg);
  /*   Animation: FireworkPseudo 2s Infinite; */
  }
  
  .Firework::After {
    --X: -50%;
    --Y: -50%;
    --InitialY: -50%;
  /*   Transform: Translate(44vmin, -50%) Rotate(170deg) Scale(1.15) RotateY(-30deg); */
    transform: Translate(-50%, -50%) Rotate(170deg) Scale(1.15) RotateY(-30deg);
  /*   Animation: FireworkPseudo 2s Infinite; */
  }
  
  .Firework:nth-Child(2) {
    --X: 30vmin;
  }
  
  .Firework:nth-Child(2),
  .Firework:nth-Child(2)::Before,
  .Firework:nth-Child(2)::After {
    --Color1: Pink;
    --Color2: Violet;
    --Color3: Fuchsia;
    --Color4: Orchid;
    --Color5: Plum;
    --Color6: Lavender;  
    --FinalSize: 40vmin;
    left: 30%;
    Top: 60%;
    Animation-Delay: -0.25s;
  }
  
  .Firework:nth-Child(3) {
    --X: -30vmin;
    --Y: -50vmin;
  }
  
  .Firework:nth-Child(3),
  .Firework:nth-Child(3)::Before,
  .Firework:nth-Child(3)::After {
    --Color1: Cyan;
    --Color2: Lightcyan;
    --Color3: Lightblue;
    --Color4: PaleTurquoise;
    --Color5: SkyBlue;
    --Color6: Lavender;
    --FinalSize: 35vmin;
    left: 70%;
    Top: 60%;
    Animation-Delay: -0.4s;
  }